#para1{
    color: blanchedalmond;
    background-color: black;
    display: flex;
    justify-content:left;
}
.para1{
    color: aqua;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;

}
.class1{
    color: blueviolet;
    background-color: blanchedalmond;
    font-style: italic;
}
.class2{
    color: brown;
    background-color: black;
    font-style: initial;
}
h3,h4{
    color: cadetblue;
    background-color: rgb(0, 255, 221);
    text-align: center;
}
div h1{
    color: aquamarine;
    font-style: unset;
    background-color: black;
}
.img{
    background-image: url('download.jpg');
    width: 50px;
    height: 50px;
     
}
.font :nth-child(1){
    color: chartreuse;
    background-color: black;

}
.font :nth-child(2){
    font-style: italic;
    background-color: aquamarine;
}
.font :nth-child(3){
    text-align: right;
    background-color: blue;
}